* {
  margin: 0;
  padding: 0; }

.container_centrale {
  max-width: 1300px;
  margin: auto;
  font-size: 16px;
  font-family: Raleway;
  color: white;
  padding: 50 100px; }

.container_name {
  width: 100%;
  overflow: hidden; }
  .container_name img {
    width: 100%; }

.area {
  position: absolute;
  background-color: red; }

.modal-backdrop {
  z-index: initial; }

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 700px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.modal.right.fade .modal-dialog {
  right: -700px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out; }

.modal-content {
  border-radius: 0;
  border: none;
  color: black; }

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA; }

.modal.right.fade.in .modal-dialog {
  right: 0; }

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto; }

.modal.right .modal-body {
  padding: 15px 15px 10px; }

.modal-body form {
  max-height: 300px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row; }
  .modal-body form .form-style-8 {
    margin-right: 50px; }
  .modal-body form textarea {
    border: 2px solid #dbb166 !important; }
.modal-body iframe {
  width: 100%;
  height: 500px; }

.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px; }

.form-style-8 textarea {
  resize: none;
  overflow: hidden; }

.form-style-8 input[type="button"],
.form-style-8 input[type="submit"] {
  background-color: #dbb166;
  border: 1px solid #dbb166;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s; }

.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover {
  background-color: grey;
  color: #dbb166;
  border-radius: 2px; }

header {
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, #373737, rgba(55, 55, 55, 0));
  font-size: 18px;
  font-family: Raleway;
  color: white;
  z-index: 100;
  position: fixed; }
  header img {
    float: left;
    width: 60px;
    margin-left: 20px;
    margin-top: 5px; }
  header ul {
    display: flex;
    flex-direction: row-reverse;
    line-height: 60px; }
    header ul li {
      font-size: 100%;
      list-style-type: none;
      margin-left: 20px;
      color: white;
      cursor: pointer; }
      header ul li:first-child {
        margin-right: 20px; }
      header ul li:hover a {
        color: white !important; }
      header ul li:hover li {
        border: none !important; }
      header ul li a {
        text-decoration: none;
        color: white; }

#index #container_media {
  height: 80vh;
  overflow: hidden; }
  #index #container_media video {
    width: 100%; }
#index .container_centrale .partie {
  margin: auto;
  max-width: 1100px;
  margin-bottom: 10px;
  background-color: transparent;
  position: relative; }
  #index .container_centrale .partie:last-child {
    margin-bottom: 0; }
  #index .container_centrale .partie .titre {
    font-size: 100px;
    font-family: Libre Baskerville;
    color: #dbb166;
    opacity: 0.3;
    position: absolute;
    top: 0px; }
#index .container_centrale #partie_1_index {
  padding-top: 100px;
  margin-bottom: 50px; }
  #index .container_centrale #partie_1_index .titre {
    left: 70px; }
  #index .container_centrale #partie_1_index #paragraphe {
    background-color: #dbb166;
    width: 370px;
    margin-left: 150px;
    padding: 15px 25px; }
    #index .container_centrale #partie_1_index #paragraphe span {
      font-size: 35px;
      font-family: Raleway;
      color: white; }
    #index .container_centrale #partie_1_index #paragraphe hr {
      max-width: 20%;
      margin: none;
      margin-top: 3px;
      margin-bottom: 15px;
      border-top: 1px solid white;
      border-bottom: 1px solid white; }
    #index .container_centrale #partie_1_index #paragraphe p {
      text-align: left; }
  #index .container_centrale #partie_1_index img {
    position: absolute;
    bottom: 0;
    right: -20px;
    height: 370px; }
#index .container_centrale #partie_2_index {
  padding-top: 0px;
  font-size: 15px;
  font-family: Raleway;
  color: black; }
  #index .container_centrale #partie_2_index .titre {
    left: 0px; }
    #index .container_centrale #partie_2_index .titre span {
      font-size: 40px;
      font-family: Libre Baskerville;
      color: #dbb166;
      position: relative;
      left: 30px;
      bottom: 20px; }
  #index .container_centrale #partie_2_index #image_voyage {
    height: 800px;
    padding-bottom: 140px; }
  #index .container_centrale #partie_2_index #paragraphe_2 {
    position: absolute;
    width: 400px;
    bottom: 0;
    right: 50; }
    #index .container_centrale #partie_2_index #paragraphe_2 img {
      width: 100%; }
    #index .container_centrale #partie_2_index #paragraphe_2 p {
      width: 350px;
      padding-left: 20px;
      padding-top: 20px;
      text-align: justify;
      float: right; }
#index .container_centrale #partie_3_index {
  padding-top: 20px;
  margin-bottom: 100px; }
  #index .container_centrale #partie_3_index #img_equipe {
    height: 650px; }
  #index .container_centrale #partie_3_index #container_guide {
    font-size: 40px;
    font-family: Libre Baskerville;
    color: #dbb166;
    width: 600px;
    position: absolute;
    bottom: 0px;
    right: 0; }
    #index .container_centrale #partie_3_index #container_guide p {
      padding-bottom: 40px; }
    #index .container_centrale #partie_3_index #container_guide .guide {
      margin: none;
      max-width: 400px;
      margin-bottom: 15px;
      background-color: cadetblue;
      position: relative;
      right: -200px; }
      #index .container_centrale #partie_3_index #container_guide .guide:last-child {
        margin-bottom: 0; }
      #index .container_centrale #partie_3_index #container_guide .guide img {
        width: 100%; }
      #index .container_centrale #partie_3_index #container_guide .guide p {
        position: absolute;
        top: 20px;
        right: 50px; }
    #index .container_centrale #partie_3_index #container_guide #guide_2 {
      right: -100px; }
    #index .container_centrale #partie_3_index #container_guide #guide_3 {
      right: 0px; }

#section_creation {
  min-height: 2000px; }

section .container_centrale_creation {
  position: relative;
  margin-top: 100px;
  margin-bottom: 20px; }
  section .container_centrale_creation:hover #partie_01 {
    opacity: 0.9; }
section .container_centrale {
  padding-bottom: 0;
  padding-top: 0; }
  section .container_centrale #partie_0 img {
    width: 700px;
    margin-left: 200px; }
  section .container_centrale #partie_01 {
    background: linear-gradient(to top, #000000, #5c5c5c);
    width: 35%;
    position: absolute;
    bottom: 100px;
    left: 32.5%;
    transition: all 0.6s;
    transition-timing-function: ease-out;
    opacity: 0.5;
    border-radius: 5px;
    text-align: center; }
    section .container_centrale #partie_01 ul li {
      display: inline-block;
      padding: 0 20px; }
      section .container_centrale #partie_01 ul li #img1 {
        width: 130px;
        transition: all 0.6s; }
      section .container_centrale #partie_01 ul li #img2 {
        width: 90px; }
      section .container_centrale #partie_01 ul li #img3 {
        width: 80px; }
    section .container_centrale #partie_01 .btn0 {
      cursor: pointer;
      list-style-type: none; }
      section .container_centrale #partie_01 .btn0 img {
        transition: all 0.6s; }
    section .container_centrale #partie_01 #btn01 {
      padding: 0 50px;
      margin-top: 10px; }
      section .container_centrale #partie_01 #btn01 div {
        width: 30px !important;
        height: 30px !important;
        background-color: rgba(219, 177, 102, 0.5);
        border: solid 2px #dbb166;
        border-radius: 50px;
        transition: all 0.6s; }
      section .container_centrale #partie_01 #btn01:hover div {
        border-radius: 10px;
        background-color: #dbb166;
        -ms-transform: rotate(1015deg);
        -webkit-transform: rotate(1015deg);
        transform: rotate(1015deg); }
  section .container_centrale .partie {
    margin: auto;
    max-width: 1050px;
    margin-bottom: 50px;
    background-color: white; }
    section .container_centrale .partie:last-child {
      margin-bottom: 0; }

#contenu_creation .section .container_centrale .partie {
  margin: auto;
  max-width: 1100px;
  margin-bottom: 10px;
  background-color: transparent;
  position: relative; }
  #contenu_creation .section .container_centrale .partie:last-child {
    margin-bottom: 0; }
  #contenu_creation .section .container_centrale .partie .titre {
    font-size: 100px;
    font-family: Libre Baskerville;
    color: #dbb166;
    opacity: 0.3;
    position: absolute;
    top: 0px; }
#contenu_creation .section .container_centrale .partie_1_creation {
  padding-top: 150px;
  padding-bottom: 0px; }
  #contenu_creation .section .container_centrale .partie_1_creation .titre {
    right: 0px; }
  #contenu_creation .section .container_centrale .partie_1_creation .parag_contain {
    display: flex;
    flex-direction: row; }
    #contenu_creation .section .container_centrale .partie_1_creation .parag_contain img {
      height: 400px; }
    #contenu_creation .section .container_centrale .partie_1_creation .parag_contain .paragraphe_1_creation {
      color: black;
      width: 500px; }
      #contenu_creation .section .container_centrale .partie_1_creation .parag_contain .paragraphe_1_creation p {
        text-align: right;
        padding: 20px 50px;
        padding-right: 35px;
        border: solid 2px rgba(219, 177, 102, 0.3);
        position: relative;
        right: 80px; }
  #contenu_creation .section .container_centrale .partie_1_creation .parag_contain2 .paragraphe_2_creation {
    color: black;
    width: 600px;
    z-index: 1; }
    #contenu_creation .section .container_centrale .partie_1_creation .parag_contain2 .paragraphe_2_creation p {
      text-align: left; }
  #contenu_creation .section .container_centrale .partie_1_creation .parag_contain2 img {
    height: 250px;
    position: relative;
    right: 80px; }
#contenu_creation .section .container_centrale .partie_2_creation {
  padding-top: 90px; }
  #contenu_creation .section .container_centrale .partie_2_creation .titre {
    left: 0px; }
  #contenu_creation .section .container_centrale .partie_2_creation .parag_contain3 {
    display: flex;
    flex-direction: row;
    padding-bottom: 70px; }
    #contenu_creation .section .container_centrale .partie_2_creation .parag_contain3 img {
      height: 500px;
      margin: auto; }
  #contenu_creation .section .container_centrale .partie_2_creation .parag_contain4 {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row; }
    #contenu_creation .section .container_centrale .partie_2_creation .parag_contain4 img {
      height: 240px;
      padding-right: 50px;
      padding-left: 50px; }
    #contenu_creation .section .container_centrale .partie_2_creation .parag_contain4 .paragraphe_2_creation {
      color: black;
      width: 550px;
      z-index: 1; }
      #contenu_creation .section .container_centrale .partie_2_creation .parag_contain4 .paragraphe_2_creation p {
        text-align: left;
        padding: 20px 50px;
        padding-right: 35px;
        background-color: rgba(219, 177, 102, 0.1);
        position: relative;
        top: 70px; }
#contenu_creation .section .container_centrale .partie_3_creation {
  padding-top: 90px;
  padding-bottom: 50px; }
  #contenu_creation .section .container_centrale .partie_3_creation .titre {
    right: 100px; }
  #contenu_creation .section .container_centrale .partie_3_creation .parag_contain5 {
    display: flex;
    flex-direction: row; }
    #contenu_creation .section .container_centrale .partie_3_creation .parag_contain5 img {
      height: 500px; }
    #contenu_creation .section .container_centrale .partie_3_creation .parag_contain5 .paragraphe_2_creation {
      color: black;
      width: 300px;
      z-index: 1; }
      #contenu_creation .section .container_centrale .partie_3_creation .parag_contain5 .paragraphe_2_creation p {
        text-align: right;
        position: relative;
        top: 120px;
        right: 90px; }
  #contenu_creation .section .container_centrale .partie_3_creation .parag_contain6 {
    position: absolute;
    top: 50px;
    left: 0; }
    #contenu_creation .section .container_centrale .partie_3_creation .parag_contain6 img {
      height: 200px;
      margin: auto; }
#contenu_creation .section .container_centrale #partie_creation_special .titre {
  left: 0px; }
#contenu_creation .section .container_centrale #partie_creation_special .parag_contain {
  display: flex;
  flex-direction: row-reverse; }
  #contenu_creation .section .container_centrale #partie_creation_special .parag_contain img {
    height: 300px; }
  #contenu_creation .section .container_centrale #partie_creation_special .parag_contain .paragraphe_1_creation p {
    text-align: left;
    padding: 20px 50px;
    padding-right: 35px;
    border: solid 2px rgba(219, 177, 102, 0.3);
    position: relative; }
#contenu_creation .section .container_centrale #partie_creation_special2 {
  padding-bottom: 80px; }
  #contenu_creation .section .container_centrale #partie_creation_special2 .titre {
    right: 10px; }
  #contenu_creation .section .container_centrale #partie_creation_special2 .parag_contain {
    flex-direction: row; }
    #contenu_creation .section .container_centrale #partie_creation_special2 .parag_contain img {
      height: 320px;
      padding-right: 20px; }
    #contenu_creation .section .container_centrale #partie_creation_special2 .parag_contain .paragraphe_1_creation p {
      text-align: left;
      padding: 20px 50px;
      padding-right: 35px;
      border: solid 2px rgba(219, 177, 102, 0.3);
      position: initial; }

.section .container_centrale .partie {
  margin: auto;
  max-width: 1100px;
  margin-bottom: 10px;
  background-color: transparent;
  position: relative; }
  .section .container_centrale .partie:last-child {
    margin-bottom: 0; }
  .section .container_centrale .partie .titre {
    font-size: 100px;
    font-family: Libre Baskerville;
    color: #dbb166;
    opacity: 0.3;
    position: absolute;
    top: 0px; }
.section .container_centrale #partie_1_experience {
  padding-top: 95px;
  padding-bottom: 50px; }
  .section .container_centrale #partie_1_experience .titre {
    left: 0px; }
  .section .container_centrale #partie_1_experience img {
    height: 550px; }
  .section .container_centrale #partie_1_experience #paragraphe_experience {
    color: black;
    width: 550px;
    overflow: hidden;
    margin-left: 150px;
    background-color: white;
    position: absolute;
    top: 500px;
    right: 80px; }
    .section .container_centrale #partie_1_experience #paragraphe_experience p {
      text-align: left; }
.section .container_centrale #partie_2_experience {
  padding-top: 120px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row-reverse; }
  .section .container_centrale #partie_2_experience .titre {
    right: 0px; }
  .section .container_centrale #partie_2_experience img {
    right: 0px;
    height: 500px; }
  .section .container_centrale #partie_2_experience #paragraphe_2_experience {
    color: black;
    width: 450px;
    position: absolute;
    top: 450px;
    left: 0px; }
    .section .container_centrale #partie_2_experience #paragraphe_2_experience p {
      text-align: left; }

#histoire {
  font-size: 16px;
  font-family: Raleway;
  color: black; }
  #histoire .container_centrale .partie {
    margin: auto;
    max-width: 1100px;
    margin-bottom: 10px;
    background-color: transparent;
    position: relative; }
    #histoire .container_centrale .partie:last-child {
      margin-bottom: 0; }
    #histoire .container_centrale .partie .titre {
      font-size: 100px;
      font-family: Libre Baskerville;
      color: #dbb166;
      opacity: 0.3;
      position: absolute;
      top: 0px; }
  #histoire .container_centrale #partie_1_histoire {
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row; }
    #histoire .container_centrale #partie_1_histoire .titre {
      left: 0px; }
    #histoire .container_centrale #partie_1_histoire img {
      height: 300px;
      margin-right: 70px;
      margin-top: 20px; }
    #histoire .container_centrale #partie_1_histoire .paragraphe_histoire {
      color: black;
      width: 580px;
      overflow: hidden; }
      #histoire .container_centrale #partie_1_histoire .paragraphe_histoire p {
        text-align: left;
        margin-bottom: 0px; }
  #histoire .container_centrale #partie_2_histoire {
    padding-top: 100px; }
    #histoire .container_centrale #partie_2_histoire .titre {
      right: 0px; }
    #histoire .container_centrale #partie_2_histoire .container_histoire {
      display: flex;
      flex-direction: row;
      padding: 20px 0; }
      #histoire .container_centrale #partie_2_histoire .container_histoire img {
        height: 300px;
        margin-right: 70px; }
      #histoire .container_centrale #partie_2_histoire .container_histoire .paragraphe_2_histoire {
        color: black;
        width: 580px;
        overflow: hidden;
        margin-top: 20px; }
        #histoire .container_centrale #partie_2_histoire .container_histoire .paragraphe_2_histoire p {
          text-align: left;
          margin-bottom: 0px; }
          #histoire .container_centrale #partie_2_histoire .container_histoire .paragraphe_2_histoire p span {
            font-size: 25px;
            font-family: Libre Baskerville;
            color: #dbb166; }

.container_centrale {
  padding-bottom: 0; }
  .container_centrale .titre {
    font-size: 100px;
    font-family: Libre Baskerville;
    color: #dbb166;
    opacity: 0.3;
    padding-bottom: 50px; }
  .container_centrale #partie_partenaire {
    margin: auto;
    max-width: 1050px;
    margin-bottom: 50px;
    background-color: white;
    position: relative; }
    .container_centrale #partie_partenaire:last-child {
      margin-bottom: 0; }
    .container_centrale #partie_partenaire img {
      width: 800px;
      margin-left: 150px; }
    .container_centrale #partie_partenaire .img_hover {
      width: 150px;
      height: 100px;
      position: absolute;
      background-color: rgba(219, 177, 102, 0.2);
      transition: all 0.6s; }
      .container_centrale #partie_partenaire .img_hover:hover {
        background-color: rgba(219, 177, 102, 0.7);
        cursor: pointer; }
      .container_centrale #partie_partenaire .img_hover img {
        display: none; }
    .container_centrale #partie_partenaire #img_hover_1 {
      width: 127px;
      height: 90px;
      top: 110px;
      left: 343px; }
    .container_centrale #partie_partenaire #img_hover_2 {
      width: 205px;
      height: 82px;
      top: 112px;
      left: 540px; }
    .container_centrale #partie_partenaire #img_hover_3 {
      width: 102px;
      height: 90px;
      top: 360px;
      left: 177px; }
    .container_centrale #partie_partenaire #img_hover_4 {
      width: 180px;
      height: 116px;
      top: 315px;
      left: 732px; }
    .container_centrale #partie_partenaire #img_hover_5 {
      width: 153px;
      height: 63px;
      bottom: 17px;
      left: 222px; }
    .container_centrale #partie_partenaire #img_hover_6 {
      width: 135px;
      height: 152px;
      bottom: 30px;
      left: 642px; }

#page404 img {
  width: 100%;
  height: 100vh; }

footer {
  background: linear-gradient(to top, #000000, #5c5c5c);
  width: 100%;
  font-size: 15px;
  font-family: Raleway;
  color: white; }
  footer #container_footer_1 {
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 20px;
    margin: auto;
    max-width: 90%; }
    footer #container_footer_1 .grid {
      width: 100%;
      box-sizing: border-box;
      padding-left: 0;
      padding-right: 0;
      padding-top: 10px; }
      @media only screen and (min-width: 768px) {
        footer #container_footer_1 .grid {
          width: 33.33333%;
          vertical-align: top; } }
      footer #container_footer_1 .grid ul li {
        list-style-type: none;
        padding: 5px 0; }
        footer #container_footer_1 .grid ul li a {
          color: white;
          text-decoration: none; }
          footer #container_footer_1 .grid ul li a:hover {
            color: #c8c8c8; }
      footer #container_footer_1 .grid form {
        margin-top: 15px; }
        footer #container_footer_1 .grid form #email {
          background-color: transparent;
          border: 1px solid white; }
    footer #container_footer_1 #grid1 ul {
      padding-left: 120px; }
    footer #container_footer_1 #grid2 ul {
      text-align: right;
      color: #dbb166; }
    footer #container_footer_1 .footer_titre {
      font-size: 30px;
      color: #dbb166; }
  footer hr.style13 {
    border-top: 1px solid #dbb166;
    border-bottom: 1px solid #dbb166;
    margin: auto;
    max-width: 90%; }
  footer #container_footer_2 {
    margin: auto;
    max-width: 90%;
    display: flex;
    flex-direction: row; }
    footer #container_footer_2 .grid_bis {
      width: 100%;
      box-sizing: border-box;
      padding-left: 0;
      padding-right: 0; }
      @media only screen and (min-width: 768px) {
        footer #container_footer_2 .grid_bis {
          width: 50%;
          vertical-align: top; } }
    footer #container_footer_2 p {
      color: #dbb166; }
    footer #container_footer_2 #grid4 {
      position: relative;
      bottom: 2px; }
      footer #container_footer_2 #grid4 ul {
        display: flex;
        flex-direction: row-reverse;
        list-style-type: none; }
        footer #container_footer_2 #grid4 ul li {
          text-align: right;
          padding: 0 7px; }
          footer #container_footer_2 #grid4 ul li:first-child {
            padding-right: 0px; }
          footer #container_footer_2 #grid4 ul li img {
            height: 30px; }

/*# sourceMappingURL=chaton2.css.map */
